@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');/*font-family: "Jaini Purva", system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaini+Purva&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html{
   color:#fff;
   margin:-10px;
   background: #e9e7e7;
}
header{
   position:relative;
   /* margin:-10px; */
   width:100%;
   background-color:rgb(255, 255, 255);
   padding:0;
}

#nav_header{
   
   height:70px;
   padding-top:0px;
   margin-top:0px;
   margin:0px;
   border-radius: 8px;
   padding-left: 20px;
   display:flex;
   justify-content: center;
   align-items: center;
}
.nav_left{
   display:flex;
   /* position:sticky; */
   align-items: center;
   justify-content:left;
   height:10vh;
   width:70vw;
   gap:190px;
   /* list-style-type: none; */
}
.logo{
   margin-left:-80px;
   /* color:#00ffbb; */
}
.nav_menu_list{
   
   transform:translate(160px);
   display:flex;
   flex-direction:row;
   gap:25px;
   justify-content:space-around;
   
   list-style: none;
}
.list_class a{
   font-family: "Jaini Purva", system-ui;
   font-size: 16px;
   font-weight: bolder;
   color: #00935b;
   text-decoration: none;

}

.nav_logo{
   font-family: "Jaini Purva", system-ui;
   color: #00935b;
   display:flex;
   align-items: center;
   margin-right:100px;
   font-size:2rem;
   font-stretch: expanded;

}
.nav_right{
   display:flex;
   justify-content: center;
   align-items: center;
}

/* .logo{
   margin-right:40px;
} */
.btn{
   font-family:"Jaini Purva", system-ui;
   background: #00935b;
   font-size:15px;
   height:35px;
   width:84px;
   border-radius:8px;
   border:none;
   /* background:linear-gradient(#ffffff 10%, #8e8e8e 100%); */
   color:white;
   margin-left:40px;
}
.btn:hover{
   animation-duration:0.2s;;
   transform: scale(1.086);
}
.First_section{
   display:flex;
   justify-content: space-around;
   /* margin: 23px 0; */
   gap:5px;
   margin:80px 0;
}
/* main{ */
/* } */
.First_section div{
   width:60%;
   padding-right:40px;
}

.left_section{
   line-height: 55px;
   font-family: "Dancing Script", cursive;
   font-weight: bolder;
   color: rgb(0, 99, 121);
   height:50vh;
   padding:40px;
   font-size:30px;
   /* background-color: red; */

}
.right_section{
   margin-top:65px;
   margin-right:10px;
   display:flex;
   justify-content: center;
   align-items: center;
   /* background: red; */
   height:100px;
   padding:20px 80px;
   border:rgb(0, 152, 190) 8px double;
   border-radius: 50%;
}

.dp_image{
   height:40vh;
   width: 28vh;
}
.colors{
   color:#008161;
}