 html {
     font-size: 12px

 }
 body{
   background-color: white;
 }
 h1{
    font-size: 13px
 }
 h2{
    font-size: 12px
 }
 h4{
    font-size: 14px;
 }
 p{
    font-size: 12px;
 }  

 body {
     color: black;
     height: 100%;
     background-image: url(./0C011ED1-74EB-485C-95E0-D81B6E773846.jpg);
     background-repeat: no-repeat; 
     background-size: cover;
     
 }
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #D0DAEE;


}



