@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaini+Purva&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Six+Caps&display=swap');/*font-family: "Six Caps", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /*font-family: "Jaini Purva", system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaini+Purva&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Six+Caps&display=swap');/*  font-family: "Orbitron", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaini+Purva&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
--first-color:#cececd;
--second-color:#00935b;
--third-color:#006d99;
--forth-color:#fff;

}
html{
   margin:0;
   padding:0;
   color:var(--forth-color);
   font-family:"Jaini Purva", system-ui;
   /* margin:-10px;x */
   /* background: var(--second-color); */
   /* overflow:unset; */
}
body::-webkit-scrollbar{
   display:none;
}
body{
   margin:0;
   padding:0;
   /* height: 100%; */
   width:fit-content;
   display: flex;
   flex-direction: row;
   background-color: var(--first-color);
   /* align-items:space-between; */
}
.nav_left{
   display: flex;
   justify-content: center;
   align-items:center;

}
.container_left{
   margin:0;
   border-right: 2px solid var(--first-color);
   position:fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width:15%;
   /* margin:0px; */
   height:100vh;
   z-index:100;
   background-color:var(--forth-color);

}

.social_icons{
   display:flex;
   justify-content: center;
   align-items: center;
   margin-top:10vh;
   gap:1rem;
}
.social_icons img{
   display:flex;
   height:120%;
   width:120%;
}
.social_icons_styles .facebook{
   background-color:blue;
}
.social_icons_styles .instagram{
   background-color:blue;
}

.social_icons_styles{
   display:flex;
   justify-content: center;
   align-items: center;
   border:1px solid var(--first-color);
   height:30px;
   border-radius:4px;
   width:30px;
   color:white;
}
/* section{
   scroll-snap-type:mandatory;
   scroll-behavior: smooth;
   scroll-snap-align: start ;
   /* object-fit: cover; */
/* } */
.container_right{
   /* object-fit: cover; */
   /* overflow:; */
   position:absolute;
   margin-left:220px;
   margin-right:0;
   padding:0;
   display: flex;
   flex-direction: column;
   background-color: var(--first-color);
   width:83vw;
   height:100%;
}

.border{
   border:2px solid #fff;
}

.nav_left{
   display:flex;
   align-items: center;
   justify-content:center;
   flex-direction: column;
}
.s20{
   width:20%;
   height:100%
}
.s100_20{
   width:100%;
   height:20%
}

.nav_menu_list{
   display:flex;
   flex-direction:column;
   align-items:center;
   gap:1.5rem;
   list-style:none;
   margin-left:-30px;
}
.list_class a{
   display:flex;
   font-family: "Jaini Purva", system-ui;
   font-size: 1.3rem;
   font-stretch:wider;
   color: #00935b;
   text-decoration: none;


}
.mar_10{
   margin: 10px 0;
}
.padd_15{
   padding: 10px 15px;
}
/* main .github_btn{
   text-decoration:none;
   color:var(--third-color);
} */

.list_class a:hover{
   transform: scale(1.3);
}

.nav_logo{
   font-family: "Jaini Purva", system-ui;
   color: var(--second-color);
   display:flex;
   justify-content:center;
   align-items:center;
   font-size:2.2rem;
   font-stretch: expanded;
   cursor:grab;
}
.logo{
   margin-top:-20vh;
   margin-bottom:8vh;
   margin-left:1.2vw;
}


.nav_left{
   display:flex;
}

 .nav-button{
   display: flex;
   justify-content:flex-start;
   align-items:center;
   margin:70px 10px;
 }
.btn_github{
   font-family:"Jaini Purva", system-ui;
   background: var(--second-color);
   font-size:18px;
   height:40px;
   width:100px;
   border-radius:8px;
   border:none;
   /* background:linear-gradient(#ffffff 10%, #8e8e8e 100%); */
   color:var(--forth-color);
   margin-left:40px;
   cursor:pointer;
}
.github_btn{
   text-decoration: none;
   color:white;
}
.btn_download{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family:"Jaini Purva", system-ui;
   background: var(--second-color);
   font-size:18px;
   height:40px;
   width:140px;
   border-radius:8px;
   border:none;
   /* background:linear-gradient(#ffffff 10%, #8e8e8e 100%); */
   color:var(--forth-color);
   margin-left:40px;
   cursor:pointer;
}
.btn_github:hover{
   animation-duration:0.2s;;
   transform: scale(1.086);
   
}
.btn_download:hover{
   animation-duration:0.2s;
   transform: scale(1.086);
}
.nav-button{
   margin-top:-45vh;
   margin-left:8vw;
   margin-bottom: 35vh;;
}
.Home_section{
   display:flex;
   justify-content: space-around;
   /* margin: 23px 0; */
   gap:5px;
   height:90vh;
   padding:20vh;
}
.first_left_section{
   line-height: 60px;
   font-family: "Dancing Script", cursive;
   font-weight: bolder;
   color: var(--third-color);
   height:30vh;
   padding-top:35px;
   padding-left:60px;
   padding-right:0px;
   font-size:45px;
   /* background-color: red; */

}
.first_right_section{
   margin-top:13vh;
   margin-right:10px;
   display:flex;
   justify-content: center;
   align-items: center;
   /* background: red; */
   height:100px;
   padding:20px 80px;
   /* border:rgb(139, 0, 0) 8px double; */
   /* border-radius: 50%; */
   filter:drop-shadow(0 0 2px #ffac2e) drop-shadow(0 0 5px #ffc038);
}
.dp_image{
   cursor:grab;
   height:40vh;
   width: 28vh;
   animation-delay:0.32s;
   animation-duration:5s;
}
.dp_image:hover{
   transform:scale(1.2);
}
.colors{
   color:var(--second-color);
}
#element{
   color:var(--second-color);
}
.Page_breaker_home{
   margin-top:10vh;
   height:3px;
   background:rgb(118, 118, 118);
}
.Page_breaker_about{
   height:3px;
   background:rgb(118, 118, 118);
}
.About_section{
   display:flex;
   height: 95vh;
   width:100%;
   padding:30vh 0;
}
.About_section div{
   display:flex;
   justify-content: center;
   align-items: center;
   background-color:rgb(120, 1, 1);
   border: 2px solid white;
   width:40vw;
   height:80vh;
}
.indexLines{
   width: 3px;
   margin-left:20vh;
   background-color:blue;
   height: 100px;
   position: relative;
}
.skills_section{
   display:flex;
   width:100%;
   height:180;
}
.skills_section .div_1{
   display:flex;
   justify-content: center;
   /* align-items: center; */
   /* padding:5vh; */
   padding-left:20vh;
   height:95vh;
   width:50%;
   flex-direction: column;
   gap:10vh;
}
.outcircle_skills_html, .outcircle_skills_css,.outcircle_skills_js{
   display: flex;
   justify-content: center;
   align-items: center;
   height:150px;
   width:150px;
   border-radius:50%;
   /* border:2px solid white; */
   box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
}
.innercircle_skills_html,.innercircle_skills_css,.innercircle_skills_js{
   display:flex;
   justify-content: center;
   align-items: center;
   height:120px;
   width:120px;
   /* border:2px solid white; */
   border-radius:50%;
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.15),inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    0.5px 0.5px 0px rgba(0,0,0,0.15),-0.5px -0.5px 0px rgba(255,255,255,1),
    0px 12px 10px 10px rgba(0,0,0,0.05);
   ;
}
.Education_section{
   display:flex;
   padding:20vh;
   height:95vh;
   justify-content: center;
   max-width:100%;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}
.Education_section .header_index{
   display:flex;
   flex-direction:row;
   justify-content: space-between;
   height:8vh;
   width:80%;
   background: var(--third-color);
   /* padding:20px; */
   z-index: 2;
}
.Education_section .header_index a{
   display:flex;
   align-items: center;
   padding: 20px;
   font-size:20px;
   font-weight:thin;
   font-family: "Jaini Purva", system-ui;
}
.Education_section .bottom_detail_info{
   display:flex;
   height:fit-content;
   width:80%;
   /* margin-top:-3vh; */
   z-index:1;
}
.Education_section .bottom_detail_info a{
   padding:20px;
}
.Experience_section{
   display:flex;
   gap: 15px;
   height: 98vh;
}

.Experience_section .left_animation{
   display:flex;
   width:10%;
   justify-content: center;
   /* align-items: center; */
}
.Experience_section .left_animation .line{
   display:flex;
   margin-top:3vh;
   border-radius: 8px;
   height:90%;
   width:3px;
   background:var(--second-color);
   flex-direction:column;
   /* margin-top:10px; */
   gap: 15vh;
}
.Experience_section .left_animation .line .dot{
   margin-left:-4px;
   display:flex;
   position: relative;
   height:10px;
   width:10px;
   background:var(--second-color);
   z-index: 2;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   /* margin-top: 50vh; */
}

.Experience_section .right_information{
   display:flex;
   height: 90%;
   flex-direction: column;
   gap:5vh;
   font-size: 14px;
}

.Project_section{
   display:flex;
   margin-top: 10vh;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   height:100vh;
   padding: 20vh 0;
}
.Project_section img{
   display: flex;
   /* height:10vh; */ 
   /* position: */
}
.slider_wrapper{
   position:relative;
   width:80%;
   height: 100%;
   margin:0 auto;
}
.slider{
   display:flex;
   /* flex-direction: column; */
   aspect-ratio: 16/9;
   overflow-y: auto;
   scroll-snap-type:x mandatory;
   scroll-behavior: smooth ;
   box-shadow: 0px 0px 30px 2px hsl(192, 100%, 7%);
   border-radius: 0.5rem;
}
.slider::-webkit-scrollbar{
   display:none;
}

.slider img{
   flex: 1 0 100%;
   scroll-snap-align: start ;
   object-fit: cover;
   cursor:pointer;
}
.slider_nav{
   display:flex;
   column-gap: 1rem;
   position:absolute;
   bottom:1.25rem;
   left:50%;
   /* transform:translateX(-50%); */
   z-index:1;
}
.slider_nav a{
   width:0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background:var(--first-color);
   opacity: 50%;
}
.slider_nav a:hover{
   opacity:100%;
   transition: 250ms;
  
}
.slider_nav a:active{
   transform:scale(2);
}
