@media (max-width:667px)
{
    html{
        overflow-x: hidden;
        /* overflow-y:hidden; */
    }
    body{
        width:100%;
        height: 100vh;
    }
    .container_left{
        display:none;
        width:50vh;
        position: fixed;
        z-index:100;

    }
    
    .container_right{
        width:100vw;
        margin-left:-33vh;

    }

    #imgg{
        display:none;

    }
    .Home_section{
        width:100%;
    }
}